@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


:root {
  --background: #F5F5F5;
  --text: #191414;
  --line-color: #31B237;
  --area-color: #E3F9E5;
  --circle-color: #f03009;
  --rect-color: #18181B;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.25;
  min-height: 90vh;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  overflow: hidden;
}

section{
  margin: 80px 0px;
}


header {
  margin: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

p{
  color: #52525B;
  margin: 4px 0px;
}

.graph-container{
  width: 80%;
  margin: auto;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}

svg {
 width:100%;
}

path.area {
  fill: var(--area-color);
}

path.line {
  fill: none;
  stroke: var(--line-color);
  stroke-width: 2px;
  stroke-linecap: round;
}

circle {
  fill: var(--circle-color);
}

rect {
  fill: var(--rect-color);
}

text {
  fill: var(--background);
  /* text-anchor: middle; */
  font-family: Inter;
}

text.close {
  font-size: 18px;
  font-weight: 700;
}

text.date {
  font-size: 12px;
}

